//  based on https://codepen.io/miniven/details/ZJydge

@mixin styleInputs {
  line-height: size(35);
  font-size: size(16);
  padding-left: size(8);
}

@mixin labels {
  position: absolute;
  top: size(-24);
  left: 0;
  font-size: size(12);
  min-height: size(16);
  width:100%;  
  
}

@mixin media {
  @media (min-width: 768px) {
    width: 80%;
  }
  

}

section {
  width: 100%;
}


.inner {
  width: 100%;
}
.select-wrapper {
  width: 100%;
  background: $secondary;
  border-radius: size(8);
}


.amount-wrapper {
  width:90%;
  display:block;
  position: relative;
  @include media;
  margin-bottom: size(28);
  margin-top: size(28);
  &:before{
    @include labels;
    content: "Amount";
  }

  .amount {
    display: block;
    font-family:'Titillium Web', sans-serif;
    @include styleInputs;
    font-size: 18px;
    color: $primary;
    border: 2px solid $primary;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    
  }
  
}



.select-wrapper #currency-one{
  &:before {
    @include labels;
    content: "Currency I have";
  }
}

.select-wrapper #currency-two{
  &:before {
    @include labels;
    content: "Currency I want";
  }
}


.select-wrapper {
  @include flexy(column);

}


.select-box {
  // z-index: 100;
  margin-top: size(28);
  position: relative;
  display: block;
  width: 90%;
  color: $primary;



  
@include media;
  
  &__current {
    position: relative;
    // box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    cursor: pointer;
    outline: none;
    border: 2px solid $primary;
    border-radius: 5px;
    
    &:focus {
      & + .select-box__list {
        margin-top: size(4);
        opacity: 1;

        // We have to set "animation-name: none;" to make the list visible (read below how it works)

        animation-name: none;
        
        .select-box__option {
          cursor: pointer;
          
        }
      }
      
      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  
  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }
  
  &__value {
    display: flex;
  }
  
  &__input {
    display: none;
    border-radius: 5px;
    
    &:checked + .select-box__input-text {
      display: block;
    }
  }
  
  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: size(12);
    background-color: #fff;
    border-radius: 5px;
  }
  
  &__list {
    
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    border: 2px solid $primary;

   
    
    // We need to use animation with delay.
    // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
    // This delay will not be noticed because we set "opacity" to "0".
    // We also use "animation-fill-mode: forwards" to make the list stay hidden.
    
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    &.z-100{
      z-index: 100;
    }
    &.z-101{
      z-index: 101;
    }
  }
  
  &__option {
    display: block;
    padding: 15px;
    background-color: #fff;
    
    &:hover,
    &:focus {
      color: white;
      background-color: $primary;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}



