    

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.sun {
    display: block;
    transition: translate 2s ease;
}

.sun-animation {
    animation: sun 2s ease;
}

@keyframes sun {
    0% {transform: translateY(0px)} 
    50% {transform:translateY(+130px)}
    100% {transform: translateY(0px)}

}

 

    .logo-wrapper {
    position: relative;
    height: size(16);
    width: 100%;
    overflow: hidden;
    }

    .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  
    }
  
    .main-wrapper {
        margin: 0 auto;
        max-width: 1400px;
        padding-right: size(8);
        padding-left: size(8);
    @include flexy(column);
    }

    section {
        @include flexy(column);

    }
    .sunset-wrapper {
        display: block; 
        margin: 0 auto 16px auto;
        overflow: hidden;
// vertical-align: center;
}
    .sunset {
        max-width: 100%;

    }


    .graph-wrapper {
        width: 100%;
    }

.currency-graph {
    width: 100%;
}


.reverse-button-wrapper {
    width: 100%;
    text-align: center;
    margin-top: size(8);
    margin-bottom: size(8);
    cursor: pointer;
}

@media (min-width: 768px) {
    div.inner {
       @include flexy(row);
    }
    .reverse-button-wrapper {
        width: auto;
        align-self: flex-start;
        margin: size(28) size(16) 0 size(16);
    }
  }
  
  
  @media (min-width: 1200px) {
      .main-wrapper {
          flex-direction: row;
          height: 100vh;
      }
      nav {
        position: fixed;
        top:0;
        left:0;
        height: size(56);
        width: 100%;
    }


    
    .calc{
        max-width: 60%;
    }

  }